examples/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:c="https://example.org/common"
           targetNamespace="https://example.org/person"
           xmlns="https://example.org/person"
           elementFormDefault="qualified">

  <!-- The schemaLocation is a remote-looking URL the closure never fetches:
       xsd_validate resolves it to //examples:common.xsd by targetNamespace. -->
  <xs:import namespace="https://example.org/common"
             schemaLocation="https://example.org/schemas/common.xsd"/>

  <xs:element name="person">
    <xs:annotation>
      <xs:documentation>A person with an id and a name.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="c:Id" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
